doctype html
html
  head
    title MyDance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src='../static/images/logo.png')
                | MDA
            li #[a(href="/") Home]
            li #[a(href="/") Services]
            li #[a(href="/") About]
            li #[a(href="/") Contact]
    block content
    block foot
        footer  
            |Copyright Manan Shah