doctype html
html 
    head 
        title MyDance Academy
        style
            include ../static/style.css
    body 
        nav#navbar
            ul
                div#logo
                    img(src='../static/images/logo.png')
                    | MDA
                li #[a(href="/#container") Home]
                li #[a(href="/#mission") Services]
                li #[a(href="/#sponsors") Sponsors]
                li #[a(href="/contact") Contact]
        div#container
            section#intro
                div Welcome to my Dance Academy 
                div Eat Sleep Dance Repeat
            section#mission
                h2 Our Services
                div#box
                    div.card 
                        h3  Dance beginner
                        div.card-box 
                            div.card-image
                                img(src='../static/images/img1.png')
                            div.card-text
                                |Lorem ipsum dolor sit amet consectetur, adipi sicing elit. Eius, totam.
                    div.card            
                        h3  Online Training
                        div.card-box
                            div.card-image
                                img(src='../static/images/img2.png')
                            div.card-text
                                |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, totam.
                    div.card    
                        h3  Expert Practice
                        div.card-box
                            div.card-image
                                img(src='../static/images/img4.png')
                            div.card-text
                                |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, totam.  
            section#sponsors
                h2 Our Sponsors
                div#logos
                    img(src="../static/images/apple.png" class="logos")
                    img(src="../static/images/microsoft.png" class="logos")
                    img(src="../static/images/skype.png" class="logos")
                    img(src="../static/images/hp.png" class="logos")
            footer
                | Copyright &#169 Manan Shah
        script 
            include ../static/index.js