.chat{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    height:40px;
    border-bottom:2px solid rgb(236, 230, 230);
}
a{
    text-decoration: none;
    color:inherit;
}
.dp{
    margin-right:20px;
}
.details{
    flex:1;
}
.details>p{
    color:grey;
}
.timestamp{
    color:lightgray
}
