.card{
    position: absolute;
    position:relative;
    height: 64vh;
    width: 600px;
    padding: 20px;
    background: no-repeat center center/cover;
    background-position-y: 0px;
    box-shadow: 0px 8px 24px rgb(120, 120, 120);
    border-radius: 20px;
}
.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    margin: 2vh;
}
.swipe{
    position: absolute;

}
.card h3{
    position:absolute;
    bottom:0px;
    margin:10px;
    color:white;
}